$clr-white: rgba(255, 255, 255, 1);

$clr-light-100: hsl(180, 31%, 95%);
$clr-light-200: hsl(180, 52%, 96%);

$clr-cyan-100: hsl(180, 29%, 50%);
$clr-cyan-400: hsl(180, 8%, 52%);
$clr-cyan-700: hsl(180, 14%, 20%);

$ff-regular: 'League Spartan', sans-serif;

$fw-medium: 500;
$fw-bold: 700;

$desktop: 1024px;

$transition-regular: 300ms;